// (intro and email sign up background)
$color-navy-850: hsl(217, 28%, 15%);
// (main background)
$color-navy-900: hsl(218, 28%, 13%);
// (footer background)
$color-navy-950: hsl(216, 53%, 9%);
// (testimonials background)
$color-navy-800: hsl(219, 30%, 18%);

// (inside call-to-action gradient)
$color-teal-200: hsl(176, 68%, 64%);
// (inside call-to-action gradient)
$color-cyan-500: hsl(198, 60%, 50%);
// (error)
$color-red-500: hsl(0, 100%, 63%);
$color-white: hsl(0, 0%, 100%);
$color-lightgrey: #ddd;

$default-line-height: 1.5;

$font-relway: 'Raleway', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;

$padding-top: 15rem;

* {
  padding: 0;
  margin: 0;
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: $font-open-sans;
  font-weight: $font-weight-400;
  font-size: 1.4rem;
  color: $color-white;
  background-color: $color-navy-850;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  .container {
    padding: 4rem 5rem 0;
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: auto;
  }
  &__nav {
    display: flex;
    color: $color-white;
    gap: 4rem;
  }
}

.section__hero {
  background-image: url(/images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  padding-bottom: 20rem;
  .container {
    padding-top: 8rem;
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  &-image {
    width: 70%;
  }
  &-intro {
    text-align: center;
  }
  &-title {
    font-weight: $font-weight-700;
    font-family: $font-relway;
    line-height: 4.6rem;
    margin-bottom: 3rem;
    font-size: 3.5rem;
  }
  &-description {
    font-size: 1.6rem;
    line-height: $default-line-height;
    color: $color-lightgrey;
  }
  &-button {
    padding: 1.5rem 8rem;
    font-size: 1.6rem;
    border-radius: 3rem;
    color: $color-white;
    background-color: $color-teal-200;
  }
}

.section__features {
  position: relative;
  background-color: $color-navy-900;
  margin-top: -1px;
  .container {
    max-width: 115rem;
    width: 100%;
    margin: 0 auto;
  }
  .section__features-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 10rem;
  }
  .section__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    text-align: center;
    &-title {
      margin-top: 1.5rem;
      font-family: $font-relway;
      font-weight: $font-weight-700;
    }
    &-description {
      max-width: 39rem;
      font-size: 1.4rem;
      line-height: $default-line-height;
      color: $color-lightgrey;
    }
  }
}

.section__productive {
  background-color: $color-navy-900;
  .container {
    padding-top: $padding-top;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-around;
  }

  &-image {
    width: 110%;
  }

  .section-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-bottom {
      position: relative;
      display: flex;
      gap: 0.6rem;
      align-items: center;
      &::after {
        content: '';
        position: absolute;
        width: 30%;
        height: 0.2rem;
        background-color: $color-lightgrey;
        left: 0;
        bottom: -10px;
      }
    }
  }
  &-title {
    font-family: $font-relway;
    line-height: 6rem;
    font-weight: $font-weight-700;
    font-size: 4rem;
  }
  &-description {
    color: $color-lightgrey;
    line-height: $default-line-height;
    max-width: 40rem;
    max-width: 50rem;
  }
  &-link {
    color: $color-teal-200;
  }
}

.section__testimonials {
  background-color: $color-navy-900;
  padding-bottom: 15rem;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 4rem;
    padding-top: $padding-top;
  }

  .section__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $color-navy-800;
    padding: 4rem 3rem 2.5rem;
    border-radius: 0.8rem;
    box-shadow: 0.3rem 0.4rem 1rem #0808364f;
    &:nth-of-type(1) {
      position: relative;
    }
    &-quotes {
      position: absolute;
      top: -18%;
      width: 9%;
      left: 0;
    }
    &-top {
      color: $color-lightgrey;
      font-size: 1.6rem;
    }
    &-bottom {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    &-pic {
      width: 3.5rem;
      border-radius: 50%;
    }
    &-name {
      font-size: 1.2rem;
      font-weight: 700;
    }
    &-position {
      font-size: 0.9rem;
      font-weight: 400;
      color: $color-lightgrey;
    }
  }
}

.access_card {
  position: relative;
  background-color: $color-navy-900;
  .container {
    width: 65%;
    background-color: $color-navy-850;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 4rem 6rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    transform: translateY(7.5rem);
  }
  &-title {
    font-weight: 700;
    font-size: 3.3rem;
  }
  &-description {
    color: $color-lightgrey;
    line-height: $default-line-height;
    font-size: 1.5rem;
  }
  &-form {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
  &-input {
    outline: none;
    width: 55%;
    padding: 1.5rem 3rem 1.5rem;
    border-radius: 3rem;
    color: #acacac;
    &::placeholder {
      color: #acacacc3;
    }
  }
  &-button {
    width: 30%;
    text-align: center;
    border-radius: 3rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-white;
    background-color: $color-teal-200;
  }
}

.footer {
  background-color: $color-navy-950;
  padding: 20rem 0 10rem;
  .container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 4rem;
  }
  &__logo {
    width: 15%;
  }
  &__connection {
    display: flex;
    justify-content: space-between;
    color: #ffffffbe;
    gap: 1rem;
  }
  &__lorem {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    img {
      padding-top: 0.4rem;
    }
  }
  &__location {
    line-height: $default-line-height;
  }
  &__contact {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
  }
  &__about {
    display: flex;
    gap: 8rem;
    li {
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h3 {
        font-weight: normal;
        font-weight: 1.6rem;
      }
      h4 {
        font-weight: normal;
        font-size: 1.5rem;
      }
    }
  }
  &__social {
    display: flex;
    gap: 1.5rem;
    align-self: flex-start;
  }
  &__icon {
    font-size: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 0.1rem solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

// responsive
@media (max-width: 1000px) {
  .section__productive {
    &-image {
      width: 100%;
    }
  }
  .footer {
    &__about {
      gap: 1.3rem;
    }
    &__social {
      flex-direction: column;
    }
  }
  .access_card {
    .container {
      width: 90%;
    }
    &-button {
      font-size: 1.3rem;
    }
  }
}
@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
  .header {
    &__logo {
      width: 22%;
    }
  }
  .section__productive {
    .container {
      flex-direction: column;
    }
    &-image {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
  .access_card {
    .container {
      width: 90%;
    }
    &-title {
      font-size: 2.5rem;
    }
    &-description {
      font-size: 1.4rem;
    }
    &-form {
      flex-direction: column;
      align-items: center;
    }
    &-input {
      width: 100%;
    }
    &-button {
      width: 90%;
      padding: 1.3rem 2rem;
      font-size: 1.6rem;
    }
  }
  .footer {
    .container {
      align-items: center;
    }
    &__logo {
      width: 50%;
    }
    &__connection {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }
    &__social {
      align-self: center;
      flex-direction: row;
    }
  }
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
  .header {
    .container {
      padding: 2rem 2rem 0;
    }
    &__nav {
      gap: 2rem;
      font-size: 1.8rem;
    }
    &__logo {
      width: 24%;
    }
  }
  .section__hero {
    background-image: url(/images/bg-curvy-mobile.svg);
    padding-bottom: 10rem;
  }
  .section__features-list {
    grid-template-columns: 1fr;
  }
  .section__testimonials {
    padding-bottom: 5rem;
    .container {
      grid-template-columns: 1fr;
    }
    .section__card {
      padding: 2rem 1.5rem 1.5rem;
    }
  }
  .footer {
    padding: 13rem 0 10rem;
  }
}
